<div class="container">
  <div>
    <h2 style="width: fit-content;">Your Sheets</h2>
    <a href="/sheets/create" class="link-button" style="float: right;">Create</a>
  </div>
  <br><br><br>

  <div>
    {{#sheets}}
      <div class="container sheet-entry">
        <p style="text-align: right; float: right; font-size: small;">
          Marking Link 
          <label id="copy-btn" style="border-radius: 5px; padding: 0 5px; background-color: #eee;" 
            onclick="copyURL('https://attendees.zrthxn.com/mark/{{ sheetId }}')">
            Copy
          </label>
          <br>
          <a href="/mark/{{ sheetId }}" id="link">
            attendees.zrthxn.com/mark/{{ sheetId }}
          </a>
        </p>

        <b>{{ subject }}</b>
        <a href="https://docs.google.com/spreadsheets/d/{{ ssId }}" id="link" style="font-size: small;">
          Open
        </a>
        <br><br>  
        
        <p style="display: inline;">
          <span>{{ studentCount }} Students, {{ activeLecture }} Lectures</span>
          <br>
          {{#if isActiveLecture}}
            <form action="/sheets/{{ sheetId }}/stop" method="post" style="padding: 0; display: inline;">
              <input type="submit" value="Close Attendance" 
                style="background-color: transparent; border: none; color: darkcyan; padding: 0;">
            </form>
          {{else}}
            <form action="/sheets/{{ sheetId }}/reopen" method="post" style="padding: 0; display: inline;">
              <input type="submit" value="Reopen Previous" 
                style="background-color: transparent; border: none; color: darkcyan; padding: 0;">
            </form> | 
            <form action="/sheets/{{ sheetId }}/next" method="post" style="padding: 0; display: inline;">
              <input type="submit" value="New Lecture" 
                style="background-color: transparent; border: none; color: darkcyan; padding: 0;">
            </form>
          {{/if}}

          <form action="/sheets/{{ sheetId }}/delete" method="post" style="padding: 0; float: right;">
            <input type="submit" value="Delete" style="background-color: transparent; border: none; color: tomato;">
          </form>
        </p>
      </div>
    {{/sheets}}
  </div>
</div>

<script>
  function copyURL(URL) {
    navigator.clipboard.writeText(URL);  
    document.getElementById("copy-btn").innerHTML = "Copied";
  }
</script>